body {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.custom-select {
  position: relative;
}

.custom-select SELECT {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 1)
  font-size: 1.5rem;
  padding: 1em 5em 1em 1.5em;
  background: #4d5061;
  color: white;
  border: 0;

   /* appearance: none;  removes default styling, often on diff elements */
}


.custom-arrow {
  position: absolute; top: 0; right: 0;
  display: block; /* inline is default */
  background: #3b3c47;
  height: 100%;
  width: 2rem;
  pointer-events: none;
}

.custom-arrow::before, 
.custom-arrow::after {
  --size: .4em;
  content: '';
  position: absolute;
  width: 0;
  height: 0;

  left: 50%;
  transform: translate(-50%, -50%);
}

.custom-arrow::before {
  border-left:   var(--size) solid transparent;
  border-right:  var(--size) solid transparent;
  border-bottom: var(--size) solid red;

  top: 40%;
}

.custom-arrow::after {
  border-left:   var(--size) solid transparent;
  border-right:  var(--size) solid transparent;
  border-top: var(--size) solid rgba(255, 255, 255, 0.5);

  top: 65%;
}